* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;

  margin: 1rem;
  padding: 1rem;

  h1 {
    color: yellow;
    margin-bottom: 1rem;
  }

  h2 {
    color: coral;
  }

  .employees {
    color: green;
  }

  .employee {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #222;
  }

  .firstAndLastName {
    color: aqua;
    font-size: medium;
  }

  .title {
    color: rgb(154, 154, 91);
  }
}
